---
import Layout from '../../layouts/Layout.astro';
import Menu from '../../components/Menu.astro';
import CamionesPage from './components/react/CamionesPage.jsx';
---
<Layout>
  <Menu active="/camiones" />
  <main class="container py-4">
    <CamionesPage client:load />
  </main>
</Layout>
